@charset'utf-8';
html{
    margin: 0;
}

body {

    margin: 0;
    padding: 0;
    font-family:
        /*"YakuHanJP", "Noto Sans JP", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴシック Pro", Meiryo, "メイリオ", "ＭＳ Ｐゴシック", "MS PGothic", sans-serif*/
        'Sawarabi Gothic', sans-serif;
    height: 100%;
    overflow-x: hidden;
    background-image: url(../img/japan-squea.jpg);
    background-attachment: fixed;
    background-size: cover;
    color: #ffffff;
    width: 100%;
}


}

#wrap {
    text-align: center;
    width: auto;
    background-color: black;
    margin: 0 auto;
}

footer {
    border-top: 1px black dashed;
    background-color: white;
    padding-top: 20px;
}

#wrap p {
    margin: 0;
    color: black;
}


article {
    width: 100%;
    background-color: #E5E5E5;

}


#main{
    width:100%;
}




#main_nav {
    width: 100%;
}

#main_nav ul {
    /*ここ朝永先生に聞く（ulにしかflexきかない）*/
    display: flex;
    text-align: center;
    margin: 0;
    padding: 0;
    position: fixed;
    left: 0;
    width: 100%;
    margin-top: -50px;
    height: 60px;
    z-index: 1000;

}

#main_nav ul li {
    width: calc(100%/6);
    list-style-type: none;
    line-height: 3.5em;
    background-color: rgba(0, 0, 0, 0.8);
    border-left: 1px dashed white;


}

#main_nav ul li a {
    text-decoration: none;
    color: white;
    display: block;
}

#main_nav ul li:hover {
    background-color: seagreen;

}

#main_nav ul li a:hover {
    color: black;
    display: block;
}

h1 {
    margin: 0;

}

h1 img {
    width: 60px;
    height: 60px;
}

main {
    /*    background-color: white;*/
}

contents {
    text-align: center;
    width: 1000px;
    color: white;
    margin: 0 auto;
    font-size: 3em;
}



contents p:nth-of-type(14) {
    margin-bottom: 800px;
}


contents p {
    text-shadow: white 0px 0px 50px;
}




section {
    background-color: #E5E5E5;
    margin: 0 auto;
}

#h2text {
    text-align: center;
    font-size: 2em;
    color: #555;
    text-shadow: 10px 10px 10px
        /*#B3903D*/
        #f3b5f4;
    font-family: 'Sawarabi Gothic', sans-serif;

}

#topic {
    display: flex;
    justify-content: space-between;
    background-color: white;
    width: 800px;
    margin: 0 auto;
}

#topic img {
    width: 400px;
    height: 300px;
    background-size: cover;

}

#text {
    color: black;
    text-align: center;
    margin: 0 auto;
    line-height: 2em;
}

#text a img {
    width: 100px;
    height: auto;
}

#img img {
    vertical-align: bottom;
    border-radius: 5px 5px;
}

section {
    margin: 0 auto 40px auto;
}


/*
section:nth-of-type(5) {
    margin-bottom: 0;
}
*/
#tokushuu {
    text-align: center;
    background-color: white;

}

#tokushuu img {
    width: 200ox;
    height: 200px;
}

h3 {
    text-shadow: 0px 0px 5px #f3b5f4;
    color: #555;
    font-family: 'Sawarabi Gothic', sans-serif;
}


#plan {
    display: flex;
    justify-content: space-around;
    background-color: white;
    padding-bottom: 40px;
    align-items: center;

}

#slide_show {
    width: 400px;
    height: auto;

}

#plan_img img {
    width: 400px;
    height: 300px;
    border-radius: 10px 10px;
}

#slide_show img {
    width: 400px;
    height: 300px;

}


#slick_img{
    width: 400px;
    height: 300px;
    display: none;
}




h4 {
    color: black;
    font-size: 1.2em;
    margin: 0;
}

#plan_text {
    width: 30%;
    border: 5px outset #f3b5f4;
    position: relative;
}
h4{
    position: absolute;
    background-color: white;
    top: -15px;
    left: 0;
}

#plan_text p {
    color: black;
    line-height: 2em;


}

#plan a {
    text-decoration: none;
    color: blue;

}

#plan a:hover {

    color: black;
    background: #f3b5f4;
    border-radius: 50% 50%;

}

aside {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    background-color: blue;
}

#plan p:nth-of-type(3){
    text-align: center;
}


#access {
  color: black;
    background-color: white;
    padding-bottom: 40px;
    margin: 0 auto;

}


h5{
    margin: 100px auto 40px;;
    text-align: center;
    font-size: 2em;
}


#map{
    width: auto;
    display: flex;
    margin: 0 auto;
    justify-content: space-around;
}

#access_text{
    margin-left: 40px;
}

#access_text p{
    
    
}

#access_text ul{
    padding: 0;
}

#rooting ul li{

    line-height: 3em;
  list-style-type: none;
}

iframe{
    width: 400px;
    height: 300px;

}

#rooting{
    line-height: 3em;
    
}




/*ハンバーガーメニュー*/



@media(max-width:1050px) {

    #main_nav {
        display: block;
        position: fixed;
        top: 0;
        left: -300px;
        bottom: 0;
        width: 300px;
        background: transparent;
        overflow-x: hidden;
        overflow-y: auto;
        transition: all .5s;
        z-index: 10;
        opacity: 0;
        margin-left: -1px;
    }

    .open2 #main_nav {
        left: 0;
        opacity: 1;
    }

    #main_nav {
        padding: 20px;
    }

    #main_nav ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: block;
        background-color: blue;
        opacity: 0.5;
        width: 150px;
    }

    #main_nav ul li {
        width: 150px;
        position: relative;
        margin: 0;
        border-right: none;
    }

    #main_nav ul li a {
        font-size: 14px;
    }


    #main_nav ul li a:nth-of-type(1) {
        height: 50px;
    }




    #main_nav a {
        display: block;
        color: black;
        font-size: 14px;
        padding: 0;
        transition-duration: 0.2s;
        text-align: start;
        width: 150px;
        /*		border-bottom: 2px dotted white;*/
        margin: 2px;
    }

    #main_nav a:hover {
        background-color: white;
    }


    #main_nav {
        left: -70%;
        width: 70%;
    }

    .toggle_btn {
        display: block;
        position: fixed;
        top: 20px;
        right: 30px;
        width: 30px;
        height: 30px;
        transition: all .5s;
        cursor: pointer;
        z-index: 3;
    }

    .toggle_btn span {
        display: block;
        position: absolute;
        left: 0;
        width: 30px;
        height: 2px;
        background-color: #333;
        border-radius: 4px;
        transition: all .5s;
    }

    .toggle_btn span:nth-child(1) {
        top: 4px;
    }

    .toggle_btn span:nth-child(2) {
        top: 14px;
    }

    .toggle_btn span:nth-child(3) {
        bottom: 4px;
    }

    .open2 .toggle_btn span {
        background-color: #fff;
    }

    .open2 .toggle_btn span:nth-child(1) {
        transform: translateY(10px) rotate(-315deg);
    }

    .open2 .toggle_btn span:nth-child(2) {
        opacity: 0;
    }

    .open2 .toggle_btn span:nth-child(3) {
        transform: translateY(-10px) rotate(315deg);
    }

    #mask {
        display: none;
        transition: all .5s;
    }

    .open2 #mask {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #ac6525;
        opacity: .7;
        z-index: 2;
        cursor: pointer;
    }

    .toggle_btn {
        display: block;
        position: fixed;
        top: 30px;
        right: 30px;
        width: 30px;
        height: 30px;
        transition: all .5s;
        cursor: pointer;
        z-index: 3;
    }

    .toggle_btn span {
        display: block;
        position: absolute;
        left: 0;
        width: 30px;
        height: 2px;
        background-color: blue;
        border-radius: 4px;
        transition: all .5s;
    }

    .toggle_btn span:nth-child(1) {
        top: 4px;
    }

    .toggle_btn span:nth-child(2) {
        top: 14px;
    }

    .toggle_btn span:nth-child(3) {
        bottom: 4px;
    }

    .open2 .toggle_btn span {
        background-color: blue;
    }

    .open2 .toggle_btn span:nth-child(1) {
        transform: translateY(10px) rotate(-315deg);
    }

    .open2 .toggle_btn span:nth-child(2) {
        opacity: 0;
    }

    .open2 .toggle_btn span:nth-child(3) {
        transform: translateY(-10px) rotate(315deg);
    }

    #mask {
        display: none;
        transition: all .5s;
    }

    .open2 #mask {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: transparent;
        opacity: .7;
        z-index: 2;
        cursor: pointer;
    }
}








