@charset'utf-8';

@media(max-width:1000px){
    #main{
        width: 800px;
    }
    #contents_text img{
width: 150px;}
}

@media(max-width:800px){
    #main{
        width:auto;
    }
    #contents{
        display: block;
        text-align: center;
    }
    #contents_text{
        margin: 0 auto;
        width: 500px;
    }
    
    #contents_text img{
        width: 200px;
    }
    
    #contents_img img{
        width: 500px;
    }
    
}
@media(max-width:500px){
    #main{
        width:auto;
    }
    #contents{
        display: block;
        text-align: center;
    }
    #contents_text{
        margin: 0 auto;
        width: 300px;
    }
    
    #contents_text img{
        width: 120px;
        height: 100px;
    }
    
    #contents_img img{
        width: 300px;
    }
    
}