@charset'utf-8';

@media(max-width:1050px) {
    h2{
        margin-top: 0;
    }
}

@media(max-width:860px) {
    #text p {
      font-size: 1.2em;
    
    }
}

#contents img {
    width: 400px;
}


@media(max-width:750px) {

    #contents {
        display: block;
        text-align: center;
    }

   

    
}

@media(max-width:600px) {

    #contents {
        width: auto;
        
    }
}

@media(max-width:450px) {

    #contents {
        width: auto;
    }

    #contents_img img {
        width: 300px;
        height: 250px;
    }

    #text p {
        font-size: 1.2em;
    }
}
